<div class="container">
  <div class="header">
    <h1>Lista de pedidos</h1>
  </div>
  <div class="actions">
    <button class="btn btn-primary" (click)="crearPedido()">
      Crear un nuevo pedido
    </button>
    <div class="buscador">
      <label for="buscador">Buscador:</label>
      <input
        id="buscador"
        type="text"
        [(ngModel)]="filtro"
        placeholder="Buscar pedido"
        (input)="filtrarPedidos()"
      />
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre Cliente</th>
        <th>Estado</th>
        <th>Monto</th>
        <th>Forma de Pago</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pedido of pedidosFiltrados">
        <td>{{ pedido.id }}</td>
        <td>{{ getCliente(pedido) }}</td>
        <td>{{ pedido.estado }}</td>
        <td>{{ pedido.datosPago?.monto || "No pago" }}</td>
        <td>{{ pedido.datosPago?.formaPago || "No pago" }}</td>
        <td>
          <button (click)="editarPedido(pedido)">Editar</button>
          <button (click)="eliminarPedido(pedido.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

@if(isModal){
<div class="modals">
  <div class="modal">
    <app-pedido-modal (cancel)="onCancel()"></app-pedido-modal>
  </div>
</div>
}
@if (modalEditar) {
  <div class="modals">
    <div class="modal">
      <app-editar-pedido-modal [pedidoId]="pedidoSeleccionado?.id" (cancel)="onCancel()" (enviar)="onEditarSubmit($event)"></app-editar-pedido-modal>
    </div>
  </div>
}
