.form {
    background-color: white;
    padding: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    height: 50vh;
    h3{
        margin:0;
    }
}

  
  form {
    padding: 15px;
    display: flex;
    gap: 15px;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
  
    padding: 5px;

    .container{
        flex:1;
        display: flex;
        flex-direction: column;
    }
    .main-btn-container{
        margin-top: 20vh;
        display: flex;
        flex-direction: column;
        gap:10vh;

        .btn-container{
            gap:5px;
            display: flex;
            flex-direction: column;
        }
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
      }
      
      th, td {
        border: 1px solid #000;
        padding: 8px;
        text-align: left;
      }
      
      th {
        background-color: #f4f4f4;
      }
      
    
    .selected{
      background-color: rgb(188, 228, 255);
    }
    
    .buttons {
      margin-top: 5px;
      display: flex;
      gap: 10px;
      flex-direction: row;
      justify-content: end;
    }

    .total{
      margin-top:auto;
      margin-left: auto;
      padding: 5px;
      border:#000 solid 1px;
    }
  
    button {
      height: 40px;
      width: 100px;
    }
  }
  